*{
    font-family:"Inter",sans-serif;
}

html,
body,
#root{
    font-family:"Inter",sans-serif;
    font-weight:500;
}

html {
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}